<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head-section') %>

<body>
    <div class="container">
      <div class="p-5 m-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Sayfa Bulunamadı</h1>
          <p class="col-md-8 fs-4">Aradığınız sayfa kaldırılmış veya böyle bir sayfa yok.</p>
          <a href="/" class="btn btn-secondary btn-lg" type="button">Ana Sayfa</a>
        </div>
      </div>
    </div>

    
</body>
</html>