<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rahvan</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/alertify/alertify.min.css">
    <link rel="stylesheet" href="/css/alertify/bootstrap.min.css">
</head>
